body {
  background-color: #303030;
  font-family: "Noto Sans", sans-serif;
  color: #FF8A8A;
}
h1, h2, h3 {
  font-family: "Times New Roman", serif;
  color: #850d0d;
  text-shadow: 5px 5px 5px #410606;
  text-decoration: underline;
}

li {
  color: #FF8A8A;
}

fieldset {
  border-style: ridge;
  border-color: black;
}

input {
  color: #919191;
}

.difficulty-options label {
  color: #FF8A8A;
  font-weight: bold;
}

.rate {
  color: #850d0d;
  text-shadow: 5px 5px 5px #410606;
}

  div {
border: red;
}
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
header {
  grid-area: header;
}
main {
  grid-area: content;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
