body {
  background-color: #403E3E;
  font-family: "Nata", sans;
  color: #E0C5C5;
}
h1, h2, h3 {
  font-family: "Times New Roman", serif;
  color: #850d0d;
  text-shadow: 5px 5px 5px #410606;
}

li {
  color: white
}

figure {
  border-color: white;
  border-width: 3px;
}

legend, fieldset {
  color:black;
}

input {
  color:white;
}

/* ul
li
ol
hr
span

input
fieldset */
